.acounts
  .d-flex.justify-center.align-center.flex-column(style="height: calc(100vh - 54px);")
    .page-title.mb-12 Acounts
    .d-flex.title-text
      v-icon mdi-twitter
      .text.ml-4 @is_ryo
    .d-flex.title-text
      v-icon mdi-github-circle
      .text.ml-4 @ryo-is
