.info-page
  img.photo.mt-12(src="../../assets/my_photo.png")
  .name.display-2.text-center.font-weight-bold.mt-6 Ryosuke Izumi
  .job.display-1.text-center.mt-6 WebApplication / IoT
  .likes.display-1.text-center.mt-6 AWS / Vue / TypeScript / Serverless
  .community.display-1.text-center.mt-6 v-kansai / kansai.ts
